[submodule "bootstrap"]
	path = _bootstrap
	url = https://github.com/twitter/bootstrap.git
	branch = 3.0.0-wip
[submodule "Font-Awesome"]
	path = font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
