header{
  margin: 1em 0;
  a small{
    font-size: 65%;
  }
  &.row{
    margin-right: -15px;
    margin-left: -15px;
  }
}

.brand-logo{
  h1&{
    margin: 0 0 0 0;
  }
  .hide-text();
  display: block;
  height: 40px;
  width: 400px;
  max-width: 100%;
  background: url(../assets/library-logo/nu-libraries-lockup-color.svg) no-repeat top left;
  background-size: contain;
  &:hover
  , &:focus{
    color: transparent;
  }
  .no-svg &{
    background-image: url(../assets/library-logo/nu-libraries-lockup.png);
  }
}



