.nu-library-logo{
  .hide-text();
  display: block;
  background: url(../images/library-logo/nu-libraries-lockup-color.svg) no-repeat top left;
  background-size: contain;
  &:hover
  , &:focus{
    color: transparent;
  }
}

.no-svg {
  background-image: url(../images/library-logo/nu-libraries-lockup.png);
}
