.navbar{
  border-bottom: 3px @brand-primary solid;
  label{
  .hidden-sm;
  }
  form{


    padding-left: 0;
    padding-right: 0;

  }
  input
  , select{
    .make-md-column(4);
    margin-right: 5px;
    margin-bottom: 5px;
    .text-overflow();
    @media (min-width: 768px){
      margin-bottom: 0;
    }
  }
}
.navbar-toggle{
  background-color: @navbar-toggle-bg;
  border: @navbar-toggle-color 3px solid;
  border-color: @navbar-toggle-color;
  color: @navbar-toggle-color;
  width: auto;
  height: auto;
  &:hover,
  &:focus{
    color: @navbar-toggle-bg;
    background-color: @navbar-toggle-bg-hover;
  }
}

.navbar-brand{
  float: left;
  img{
    width: 170px;
    height: auto;
  }
}

.navbar .submit.container{
  padding-right: 0;
  padding-left: 0;
}

.navbar-fixed-top{
  box-shadow: 2em 0 1em @gray-light;
}


.navbar-form .col-sm-3{
  padding-left: 0;
  padding-right: 0;
}
