.navbar{
  label{
  .hidden-sm;
  }
  form{
    max-width: 85%;
    .make-column(6);
    padding-left: 0;
    padding-right: 0;

  }
  input
  , select{
    .make-column(4);
    margin-right: 5px;
    margin-bottom: 5px;
    .text-overflow();
    @media (min-width: 768px){
      margin-bottom: 0;
    }
  }
}
.navbar-toggle{
  background-color: @navbar-toggle-bg;
  .icon-bar{
    background-color: @navbar-toggle-color;
  }
  border-color: @navbar-toggle-color;
  &:hover,
  &:focus{
    background-color: @navbar-toggle-bg-hover;
  }
}

