<header class="navbar navbar-fixed-top navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="{{site.baseurl}}" class="navbar-brand">
        <h1 class="nu-libraries-logo">Northeastern University Libraries</h1>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="nuCollapse" data-target="#NavbarSearchForm">
        <span class="sr-only">Toggle Search Form</span>
        <span class="icon-search"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse" id="NavbarSearchForm" role="navigation">
      {% include navbar-searchform.html %}
    </nav>
  </div>

</header>

