<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      <a href="{{ site.parent-url }}" class="brand-footer-image" >
          <img src="{{ site.baseurl }}assets/brand-footer-image.svg "/>
      </a>
      </div>
      <div class="col-sm-6">
      <nav>
        <ul class="nav">
          <li><a href="http://myneu.neu.edu/cp/home/displaylogin">MyNEU</a></li>
          <li><a href="https://prod-web.neu.edu/webapp6/employeelookup/public/main.action">Find Faculty &amp; Staff</a></li>
          <li><a href="http://www.northeastern.edu/neuhome/adminlinks/findaz.html">Find A-Z</a></li>
          <li><a href="http://www.northeastern.edu/emergency/index.html">Emergency Information</a></li>
          <li><a href="http://www.northeastern.edu/search/index.html">Search</a></li>
          <li><a href="http://assistive.usablenet.com/tt/http://www.northeastern.edu/index.html">Text Only</a></li>
        </ul>
      </nav>
      </div>
      <div class="col-sm-3">
      <nav>
        <ul class="nav social-links">
          <li>
            <a href="http://www.facebook.com/northeastern" class="facebook">
              <span class="icon-facebook-sign"></span>
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/northeastern" class="twitter">
              <span class="icon-twitter-sign"></span>
            </a>
          </li>
          <li>
            <a href="http://www.youtube.com/northeastern" class="youtube">
              <span class="icon-youtube-sign"></i>
            </a>
          </li>
        </ul>
      </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-offset-3">
        <p class="text-center">
          <small>360 Huntington Ave., Boston, Massachusetts 02115 · 617.373.2000 · TTY 617.373.3768</small>
        </p>
        <p class="text-center">
          <small>&copy; {{ site.time | date: "%Y" }} Northeastern University</small>
        </p>
      </div>
    </div>
  </div>
</footer>
